.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
  
  .row-item {
    max-width: 300px;
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    box-sizing: content-box;
    overflow: hidden;
  }
}
