<header>
    <!-- HEADER TOP -->
    <div class="header-top content-wrapper">
      <div class="logo-wrapper">
        <a href="#" class="logo">Cooking.</a>
      </div>
      <div class="banner tablet-hidden">
        <div class="banner-text-wrapper text-decor">
          <span>subscribe now to 
            <a href="#" class="banner-link">cooking.co</a>
          </span>
        </div>
        <div class="social-list">
          <div class="social-wrapper">
            <a href="#" class="fa fa-linkedin social-item"></a>
          </div>
          <div class="social-wrapper">
            <a href="#" class="fa fa-twitter social-item"></a>
          </div>
          <div class="social-wrapper">
            <a href="#" class="fa fa-facebook social-item"></a>
          </div>
        </div>
      </div>
      
      <div class="form-wrapper">
        <form class="form">
          <div class="input-wrapper">
            <input type="search" placeholder="Search" class="input-search">
            <div class="button-wrapper">
              <button type="submit" class="search-btn fa fa-search"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- HEADER NAV -->
    <div class="header-nav">
      <div class="content-wrapper">
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" class="show-menu-checkbox" id="show-menu" role="button">
        <div class="nav-list">
          <a href="" class="nav-item">Recipes</a>
          <a href="" class="nav-item">Inspitarion</a>
          <a href="" class="nav-item">Restaurants</a>
          <a href="" class="nav-item">Baking</a>
          <a href="" class="nav-item">Blog</a>
          <a href="" class="nav-item">Videos</a>
          <a href="" class="nav-item">Classes</a>
          <a href="" class="nav-item">Shop</a>
        </div>
      </div>
    </div>
  </header>
