<header>
  <div class="header-nav">
    <div class="content-wrapper">
      <label for="show-menu" class="show-menu">Show Menu</label>
      <input type="checkbox" class="show-menu-checkbox" id="show-menu" role="button">
      <div class="nav-list">
        <a ui-sref="home" class="nav-item" title="Home Page"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a ui-sref="albums" class="nav-item" title="Albums Page"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
        <a href="https://www.google.com/" target="_blank" class="nav-item" title="Go to GOOGLE"><i class="fa fa-google" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>
